@import '@Project/css/variable.scss';
.waffle {
    position: relative;
    
    background-color: #fff;
    @media screen and (max-width: 659px){
        z-index: 1;
}
}
.waffleContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
    @media screen and (max-width: 659px) {
        padding-left: 0;
        
    }
}
.highlightMatchingSecondary {

}

.groupDiv {
    position: relative;
    padding: 0px 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    @media screen and (max-width: 659px){
        padding-right: 0;
    }

    &:focus {
        outline-width: 0;
    }

    &.isHighlighted::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 10px);
        height: 10px;
        left: 0;
        bottom: 10px;
        background-color: $red;

    }
    @media screen and (max-width: 659px){
        width: 100%;
    }

}

.groupDivHeading {
    .isHighlighted & {
        font-weight: 900;
    }
    font-weight: 600;
    margin-bottom: 2px;
    font-size: 14px;
    min-width: 85px;
    padding-bottom: 7px;
    padding-top: 5px;
    background-image: linear-gradient(#fff, #fff 80%, transparent);
    max-width: 100%;
    //z-index: 2;
    span {
        font-weight: 400;
    }
    @media screen and (max-width: 659px){
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

.itemsContainer {

    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    padding-bottom: 20px;

    @media screen and (max-width: 659px) {
        max-width: 100%;

    }




}

.legendItem {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}

.item {
    border: 1px solid #fff !important;
    width: 28px;
    height: 28px;
    background-color: #000;
    position: relative;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:focus {
        outline-width: 0
    }

    &:not(.completed)::after {
        content: ' ';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #fff;
        position: absolute;
        left: calc(50% - 3px);
        top: calc(50% - 2px);
    }
}

.showDetails .item,
.showAll .item {
    &:hover {
        border: 2px solid $red !important;
    }
}



:global(#pew-app) .showAllDetails {
    position: absolute;
    right: 0;
    top: -35px;
    color: $medium_blue;
    margin-top: 10px;
    visibility: hidden;
    z-index: 1;
    &:hover {
        text-decoration: underline;
    }
    &.isVisible {
        visibility: visible;
    }
}
.indicator {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    display: inline-block;
    position: relative;
    top:2px;
}
.indicatorsGroup {
    margin-left: 10px;
}
:global(.tippy-popper) {
    max-width: 230px;
}
.anchor {
    position: absolute;
    height: calc(100% - 100vh + 75px);
    top: calc(100vh - 75px);
}