@import '@Project/css/variable.scss';

.waffleContainer {
    display: flex;
    flex-wrap: wrap;

    //    font-size: 14px;
    //    width: 915px;
}


.groupDiv {
    position: relative;
    padding: 10px 10px 10px 0;
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:focus {
        outline-width: 0;
    }

    &.isHighlighted::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 10px);
        height: 10px;
        left: 0;
        bottom: 0;
        background-color: $coral;

    }

}

.groupDivHeading {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 14px;
}

.itemsContainer {

    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;




}

.legendItem {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}

.item {
    border: 1px solid #fff !important;
    width: 28px;
    height: 28px;
    background-color: #000;
    position: relative;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:focus {
        outline-width: 0
    }

    &.completed::after {
        content: ' ';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #fff;
        position: absolute;
        left: calc(50% - 3px);
        top: calc(50% - 2px);
    }
}

.showDetails .item,
.showAll .item {
    &:hover {
        border: 2px solid $coral !important;
    }
}

.waffleContainer:not(.showAll) .groupDiv:not(.showDetails) .item {
    background-color: $dark_blue;
    &.completed::after {
        background-color: $dark_blue;
    }
}

:global(#pew-app) .showAllDetails {
    position: absolute;
    right: 0;
    color: $medium_blue;
    margin-top: 10px;
    visibility: hidden;
    z-index: 1;
    &:hover {
        text-decoration: underline;
    }
    &.isVisible {
        visibility: visible;
    }
}