@import '@Project/css/variable.scss';

.sectionView {
    padding-top: 60px;
    position: relative;
    display: none;
}
.active {
    background-color: $dark_blue;
}

.isBlurred {
    filter: blur(4px) saturate(40%);
}
:global(#top-menu) {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 2;
    border-bottom: 3px solid #fff;
}