@import '@Project/css/variable.scss';

.sectionView {
    padding-top: 60px;
    position: relative;
    display: none;
    @media screen and (max-width: 1070px) {
        padding-top: 115px;
    }
    @media screen and (max-width: 659px) {
        padding-top: 0px;
    }
}
.active {
    background-color: $dark_blue;
}

.isBlurred {
    filter: blur(4px) saturate(40%);
}
:global(#top-menu) {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 3;
    @media screen and (max-width: 920px) {
        top: 32px;
    }
    nav {
        border-bottom: 3px solid #fff;
        transition: transform 0.2s ease-in-out;
    }
    @media screen and (max-width: 659px) {
        nav {
            transform: translateX(100%);
        }
    }
    &.isMobile {
        top: auto;
        bottom: 37px;
    }
    &.isMobile .showMenu {
        display: block;
    }
    &.isMobile.mobileIsInView {
        nav {
            transform: translateX(0);
            box-shadow: rgba(0,0,0,0.5) 0px -2px 2px
        }
    }
}
:global(#pew-app) .showMenu {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: $medium_blue;
    color: #fff;
    display: none;
}