@import '@Project/css/variable.scss';

:global(#pew-app) .menuView {
    transition: background-color 0.2s ease-in-out;
    background-color: $medium_blue;
    &.isLoading {
        background-color: $gray;
        &::before {
            content: 'loading ...';
            display: block;
            position: absolute;
            top: 10px;
            left: 50%;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            transform: translateX(-50%);
        }
    }
    
    //min-height: calc(100vh - 220px);
    h2 {
        color: #fff;
        text-align: center;
        padding: 60px 60px 0;
        font-size: 46px;
        @media screen and (max-width: 655px){
            font-size: 30px;
            padding: 30px 60px 0;
        }
        @media screen and (max-width: 432px){
            padding: 30px 30px 0;
        } 
        @media screen and (max-width: 380px){
            font-size: 22px;
        }  
    }
    
}