@import '@Project/css/variable.scss';

.menuView {
    display: none; // REMOVE THIS
    background-color: $medium_blue;
    height: calc(100vh - 220px);
    h2 {
        color: #fff;
        text-align: center;
        padding-top: 60px;
        font-size: 46px;
    }
}