@import '@Project/css/variable.scss';

.menuList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    color: #fff;
    border-top: 1px solid #fff;

    margin-top: 55px;
    .navLink {
        margin: 0;
        font-weight: bold;
        line-height: 125%;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover, &:focus, &.active {
            background-color: $dark_blue;
        }
        color: #fff;
        &:active, &:visited {
            color:#fff;
        }
    }
}

:global(.menu-view) {
    .menuList {

        @media screen and (max-width: 655px){
            margin-top: 27px;
        }
    }
    .navLink {
        font-size: 32px;
        width: 50%;
        padding: 50px 60px 50px 50px;
        margin: 0;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        background: svg-load('right-caret.min.svg', stroke=#fff) calc(100% - 25px) center / 20px no-repeat;
        @media screen and (max-width: 933px){
            width: 100%;
            padding: 25px 60px 25px 50px;
            border-right-width: 0;
        }
        @media screen and (max-width: 655px){
            font-size: 22px;
        }
        @media screen and (max-width: 432px){
            padding: 25px 60px 25px 25px;
        }   
        @media screen and (max-width: 380px){
            font-size: 20px;
        } 
        &:nth-child(even) {
            border-right-width: 0;
        }
        span {
            display: block;
            font-size: 24px;
            font-weight: normal;
            line-height: 125%;
            @media screen and (max-width: 655px){
                font-size: 18px;
            }  
        }
        &:hover {
            text-decoration: none;
        }
        &.placeholderMenuItem {
            display: none;
        }
    }
}

:global(.section-view){
    .menuList {
        width: 100%;
        margin-top: 0;
        background-color: $medium_blue;
        display: table;
        @media screen and (max-width: 620px){
            display: flex;
        }
    }
    .navLink {
        display: table-cell;
        position: relative;
        font-weight: bold;
        width: 20%;
        max-width: 165px;
        text-align: center;
        border-right: 3px solid #fff;
        padding: 8px 8px;
        vertical-align: middle;
        &:first-child {
            //border-left: 3px solid #fff;
        }
        span {
            position: absolute;
            opacity: 0;
            height: 0;
            overflow: hidden;
        }
        &.placeholderMenuItem {
            display: none;
            cursor: default;
            &:hover {
                background-color: inherit;
            }
        }
        @media screen and (max-width: 620px){
            display: block;
            width: 100%;
            max-width: 50%;
            border-top: 3px solid #fff;
            &:nth-child(even){
                border-right-width: 0; 
            }
            &.placeholderMenuItem {
                display: block;

            }

        }
        @media screen and (max-width: 370px){
            max-width: 100%;
            border-right-width: 0;
            text-align: left;
            &.placeholderMenuItem {
                display: none;
            }

        }
    }
}