@import '@Project/css/variable.scss';

.menuList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    color: #fff;
    border-top: 1px solid #fff;

    margin-top: 55px;
    .navItemWrapper {
        margin:0;
    }
    .navLink {
        margin: 0;
        font-weight: bold;
        line-height: 125%;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover, &:focus, &.active {
            background-color: $dark_blue;
        }
        color: #fff;
        &:active, &:visited {
            color:#fff;
        }
        .isLoading & {
            cursor: wait;
            &:hover, &:focus, &.active {
                background-color: $gray;
            }
        }
    }
}

:global(.menu-view) {
    .menuList {

        @media screen and (max-width: 655px){
            margin-top: 27px;
        }
    }
    .navItemWrapper {
        width: 50%;
        display: flex;
        flex-direaction: column;
        margin: 0;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        
        

        @media screen and (max-width: 933px){
            width: 100%;
            border-right-width: 0;
        }
        &:nth-child(even) {
            border-right-width: 0;
        }
        
        &.placeholderMenuItem {
            display: none;
        }

    }
    .navLink {
        display: block;
        padding: 50px 60px 50px 50px;
        font-size: 32px;
        width: 100%;
        flex-grow: 1;
        background-image: svg-load('right-caret.min.svg', stroke=#fff);
        background-position: calc(100% - 25px) center;
        background-size: 20px 35px;
        background-repeat: no-repeat;
        span {
            span {
                display: block;
                font-size: 24px;
                font-weight: normal;
                line-height: 125%;
                @media screen and (max-width: 655px){
                    font-size: 18px;
                }  
            }

        }
        &:hover {
            text-decoration: none;
        }
        @media screen and (max-width: 933px){
            padding: 25px 60px 25px 50px;
        }
        @media screen and (max-width: 655px){
            font-size: 22px;
        }
         
        @media screen and (max-width: 380px){
            font-size: 20px;
        }
    }
}

:global(.section-view){
    .menuList {
        width: 100%;
        margin-top: 0;
        background-color: $medium_blue;
        display: flex;
    }
    .navItemWrapper {
        width: 16%;
       // max-width: 165px;
        border-right: 3px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        @media screen and (max-width: 1070px){
            display: block;
            width: 100%;
            max-width: 50%;
            border-top: 3px solid #fff;
            &:nth-child(even){
                border-right-width: 0; 
            }
            &.placeholderMenuItem {
                display: block;

            }

        }



    }

    .navLink {
       // display: table-cell;
        padding: 8px 8px;
        position: relative;
        font-weight: bold;
        text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction:column;
        justify-content: center;
        &:first-child {
            //border-left: 3px solid #fff;
        }
        span {
            span {
                position: absolute;
                opacity: 0;
                height: 0;
                overflow: hidden;
            }

        }
        &.placeholderMenuItem {
            display: none;
            cursor: default;
            &:hover {
                background-color: inherit;
            }
        }
        
        @media screen and (max-width: 370px){
            max-width: 100%;
            border-right-width: 0;
            text-align: left;
            &.placeholderMenuItem {
                display: none;
            }

        }
    }
}