@import '@Project/css/variable.scss';

:global(#map-view){
    display: none;

    &.active {
        display: block;
    }
    padding-bottom: 4px;
}

.mapContainer {
    max-width: calc(170vh - 385px);
    height: 0;
    padding-bottom: 58.789%;
    position: relative;
    svg {
        position: absolute;
    }
}

.legendContainer {
    padding: 10px;
}

.legendWrapper {
    position: relative;
    width: 230px;
    height: 36px;
    margin-top: 5px;

}

.tick {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

.gradient {
    width: 100%;
    height: 12px;
    display: flex;
    /*background: linear-gradient(to right, #5AC7BE, #296EC3);*/
}
.gradStep {
    flex-grow: 1;
}
:global(.tippy-tooltip) {
    border-radius: 0;
    border: 1px solid #000;
    color: #000;
}

:global(.tippy-backdrop) {
    background-color: #fff;
}

:global(.tippy-content) {
    text-align: left;
    padding: 3px;
}

:global(g.state.is-not-null):focus,
:global(g.state-boxes g.is-not-null):focus {
    outline-width: 0;
}


:global(g.state.is-not-null):hover path,
:global(g.state-boxes g.is-not-null):hover rect,
:global(g.state.is-not-null).hover path,
:global(g.state-boxes g.is-not-null).hover rect, {
    fill: $red !important;
}

:global(g.state-boxes g.is-not-null):hover rect, :global(g.state-boxes g.is-not-null).hover rect {
    stroke: $red !important;

}