@import 'variable.scss';

/* this is for global styles. selectors are not rewritten. module = false in dev config */

#pew-app {
    max-height: calc(100vh - 90px);
    overflow-y: scroll; 
    h2 {
        padding: 0 2px;
    }

    button {
        //resets HT https://gist.github.com/MoOx/9137295
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;

        background: transparent;

        /* inherit font & color from ancestor */
        color: inherit;
        font: inherit;

        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;


        /* Remove excess padding and border in Firefox 4+ */
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    }
}

.section-title {
    font-size: 28px;
    margin: 20px 0;

}

.secondary-0 {
    background-color: $dark_blue;
    border: 1px solid $dark_blue;
}

.secondary-1 {
    background-color: $medium_blue;
    border: 1px solid $medium_blue;
}

.secondary-2 {
    background-color: $light_blue;
    border: 1px solid $light_blue;
}

.secondary-3 {
    background-color: $teal;
    border: 1px solid $teal;
}

.secondary-4 {
    background-color: $faded_jade;
    border: 1px solid $faded_jade;
}

.secondary-5 {
    background-color: $coral;
    border: 1px solid $coral;
}
.none {
    background-color: $gray;
    border: 1px solid $gray;
}