@import 'variable.scss';

/* this is for global styles. selectors are not rewritten. module = false in dev config */

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

#pew-app {
    @media screen and (max-width: 470px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    max-height: calc(100vh - 91px);
    overflow-y: auto;
    h2 {
        padding: 0 2px;
        padding: 20px 0;
        z-index: 2;
        margin-top: 0;
        &.section-title{
            background-image: linear-gradient(#fff, #fff 90%, rgba(255,255,255,0));
            margin-bottom: 0;
            position: sticky;
            top: -2px;
        }   
    }

    button {
        //resets HT https://gist.github.com/MoOx/9137295
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;

        background: transparent;

        /* inherit font & color from ancestor */
        color: inherit;
        font: inherit;

        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;


        /* Remove excess padding and border in Firefox 4+ */
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    }
}
#section-view {
    max-height: calc(100vh - 90px);
    overflow-y: scroll; 
    @media screen and (max-width: 659px){
        max-height: calc(100vh - 75px);
    }
}
.section-title {
    font-size: 28px;
    margin: 20px 0;

}

.secondary-0, .match-secondary-0 .match-secondary-0 {
    background-color: $dark_blue;
    border: 1px solid $dark_blue;
}

.secondary-1, .match-secondary-1 .match-secondary-1 {
    background-color: $medium_blue;
    border: 1px solid $medium_blue;
}

.secondary-2, .match-secondary-2 .match-secondary-2 {
    background-color: lighten($light_blue, 3%);
    border: 1px solid lighten($light_blue, 3%);
}

.secondary-3, .match-secondary-3 .match-secondary-3 {
    background-color: darken($teal, 5%);
    border: 1px solid darken($teal, 5%);
}

.secondary-4, .match-secondary-4 .match-secondary-4 {
    background-color: $faded_jade;
    border: 1px solid $faded_jade;
}

.secondary-5, .match-secondary-5 .match-secondary-5 {
    background-color: $coral;
    border: 1px solid $coral;
}
.secondary-6, .match-secondary-6 .match-secondary-6 {
    background-color: $tuscany;
    border: 1px solid $tuscany;
}
.secondary-7, .match-secondary-7 .match-secondary-7 {
    background-color: #E29896;
    border: 1px solid #E29896;
}
.secondary-8, .match-secondary-8 .match-secondary-8 {
    background-color: darken($tuscany, 25%);
    border: 1px solid darken($tuscany, 25%);
}
.match-secondary-0 .waffle-item:not(.match-secondary-0) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-1 .waffle-item:not(.match-secondary-1) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-2 .waffle-item:not(.match-secondary-2) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-3 .waffle-item:not(.match-secondary-3) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-4 .waffle-item:not(.match-secondary-4) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-5 .waffle-item:not(.match-secondary-5) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-6 .waffle-item:not(.match-secondary-6) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-7 .waffle-item:not(.match-secondary-7) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}
.match-secondary-8 .waffle-item:not(.match-secondary-8) {
    opacity: 0.5;
    background-color:$gray;
    border-color: $gray;
}

.none {
    background-color: $gray;
    border: 1px solid $gray;
}