@import 'variable.scss';

/* this is for global styles. selectors are not rewritten. module = false in dev config */

#pew-app {
    max-height: calc(100vh - 90px);
    overflow-y: scroll; 
    h2 {
        padding: 0 2px;
    }

    button {
        //resets HT https://gist.github.com/MoOx/9137295
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;

        background: transparent;

        /* inherit font & color from ancestor */
        color: inherit;
        font: inherit;

        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;


        /* Remove excess padding and border in Firefox 4+ */
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    }
}

.section-title {
    font-size: 28px;
    margin: 20px 0;

}

.secondary-0 {
    background-color: $dark_blue;
    border: 1px solid $dark_blue;
}

.secondary-1 {
    background-color: $medium_blue;
    border: 1px solid $medium_blue;
}

.secondary-2 {
    background-color: $light_blue;
    border: 1px solid $light_blue;
}

.secondary-3 {
    background-color: $teal;
    border: 1px solid $teal;
}

.secondary-4 {
    background-color: $faded_jade;
    border: 1px solid $faded_jade;
}

.secondary-5 {
    background-color: $coral;
    border: 1px solid $coral;
}
.secondary-6 {
    background-color: $tuscany;
    border: 1px solid $tuscany;
}
.secondary-7 {
    background-color: #E29896;
    border: 1px solid #E29896;
}
.none {
    background-color: $gray;
    border: 1px solid $gray;
}
// second secondaries

.second-secondary-0, .fifth-secondary-0 {
    border-top-color: $dark_blue !important;
}

.second-secondary-1, .fifth-secondary-1 {
    border-top-color: $medium_blue !important;
}

.second-secondary-2, .fifth-secondary-2 {
    border-top-color: $light_blue !important;
}

.second-secondary-3, .fifth-secondary-3 {
    border-top-color: $teal !important;
}

.second-secondary-4, .fifth-secondary-4 {
    border-top-color: $faded_jade !important;
}

.second-secondary-5, .fifth-secondary-5 {
    border-top-color: $coral !important;
}
.second-secondary-6, .fifth-secondary-6 {
    border-top-color: $tuscany !important;
}
.second-secondary-7, .fifth-secondary-7 {
    border-top-color: #E29896 !important;
}



.third-secondary-0, .fourth-secondary-0 {
    border-bottom-color: $dark_blue !important;
}

.third-secondary-1, .fourth-secondary-1 {
    border-bottom-color: $medium_blue !important;
}

.third-secondary-2, .fourth-secondary-2 {
    border-bottom-color: $light_blue !important;
}

.third-secondary-3, .fourth-secondary-3 {
    border-bottom-color: $teal !important;
}

.third-secondary-4, .fourth-secondary-4 {
    border-bottom-color: $faded_jade !important;
}

.third-secondary-5, .fourth-secondary-5 {
    border-bottom-color: $coral !important;
}
.third-secondary-6, .fourth-secondary-6 {
    border-bottom-color: $tuscany !important;
}
.third-secondary-7, .fourth-secondary-7 {
    border-bottom-color: #E29896 !important;
}