@import '@Project/css/variable.scss';

.legend {
    flex-wrap: wrap;
    font-size: 14px;
    min-height: 36px;
    //margin: 25px 0 0px 0;
    display: flex;
    visibility: hidden;
    padding-bottom: 10px;
    &.showLegend {
        visibility: visible;
    }
}
.legendGroup {
    display: flex;
    padding: 5px 20px 5px 0;
    font-size: 14px;
    font-weight: 300;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        color:#000;
        text-decoration: underline;
    }
    &.isSelected {
        font-weight: 400;
        opacity: 1 !important;
    }
    .legendItemIsSelected & {
        opacity: 0.75;
    }
}
.legendItem {
    min-width: 12px;
    max-width: 12px;
    height: 12px;
    margin-right: 4px;
    position: relative;
    top: 3px;
    .legendItemIsSelected .legendGroup:not(.isSelected) & {
        background-color: $gray;
        border-color: $gray;
    }

}
.legendLabel {
    width: 100%;
    margin-bottom: 5px;
    height: 0;
    visibility: hidden;
}

.boolItem {
    width: auto;
    padding-left: 12px;
    font-weight: 300;
    position: relative;
    top: 5px;
    &::before {
        content: ' ';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        border: 1px solid #000;
        position: absolute;
        left: 0;
        top: calc(50% - 3px);
        @media screen and ( max-width: 659px ){
            top: calc(50% - 9px);;
        }
    }
}
.isSelected :global(.secondary-0)  {
    background-color: $dark_blue;
    border: 1px solid $dark_blue;
}

.isSelected :global(.secondary-1)  {
    background-color: $medium_blue;
    border: 1px solid $medium_blue;
}

.isSelected :global(.secondary-2)  {
    background-color: $light_blue;
    border: 1px solid $light_blue;
}

.isSelected :global(.secondary-3)  {
    background-color: $teal;
    border: 1px solid $teal;
}

.isSelected :global(.secondary-4)  {
    background-color: $faded_jade;
    border: 1px solid $faded_jade;
}

.isSelected :global(.secondary-5)  {
    background-color: $coral;
    border: 1px solid $coral;
}
.isSelected :global(.secondary-6)  {
    background-color: $tuscany;
    border: 1px solid $tuscany;
}
.isSelected :global(.secondary-7)  {
    background-color: #E29896;
    border: 1px solid #E29896;
}
.isSelected :global(.secondary-8)  {
    background-color: darken($tuscany, 25%);;
    border: 1px solid darken($tuscany, 25%);;
}

