@import '@Project/css/variable.scss';

.legend {
    flex-wrap: wrap;
    font-size: 14px;
    height: 36px;
    margin: 25px 0;
    display: none;
    &.showLegend {
        display: flex;
    }
}
.legendGroup {
    display: flex;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 300;
}
.legendItem {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
.legendLabel {
    width: 100%;
    margin-bottom: 5px;
}