@import '@Project/css/variable.scss';

.detailsView {
    
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $medium_blue;
    padding: 30px 9% 25px;
    transition: transform 0.2s ease-in-out;
    transform: translateY(calc(100% + 50px));
    z-index: 1;
    color: #fff;
    max-height: 100vh;
    overflow-y: scroll;
    @media screen and (max-width: 470px){
        padding-left: 10px;
        padding-right: 10px;
    }
    &.isOpen {
        transform: translateY(0);
    }
    b {
        font-weight: 900;
    }
}
.columnsWrapper {
    display: flex;
    flex-wrap: wrap;
    p {
        width: 312px;
        padding-right: 20px;
    }
}
.container {
    width: 100%;
    max-width: 625px;
}

:global(#pew-app) .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 23px;
    height: 30px;

    background: inline('./x-out.svg') no-repeat;


}
.detailsHeading a {
    color: #fff !important;
}