@import '@Project/css/variable.scss';

.detailsView {
    
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $medium_blue;
    padding: 30px 90px 25px;
    transition: transform 0.2s ease-in-out;
    transform: translateY(calc(100% + 50px));
    z-index: 1;
    color: #fff;
    max-height: 100vh;
    overflow-y: scroll;
    &.isOpen {
        transform: translateY(0);
    }
    b {
        font-weight: 900;
    }
}
.columnsWrapper {
    display: flex;
    flex-wrap: wrap;
    p {
        width: 312px;
        padding-right: 20px;
    }
}
.container {
    width: 100%;
    max-width: 625px;
}

.closeButton {
//resets HT https://gist.github.com/MoOx/9137295
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;


    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 23px;
    height: 30px;

    background: inline('./x-out.svg') no-repeat;


}